BOT_TOKEN=
DB_PATH=shopbot.db
ADMIN_SECRET_KEY=Y2qhnQoDMTtoIj3O2M5q9Ke9zWoqDyQ0
ADMIN_PORT=8080
MB_API_URL=https://apicanhan.com/api/mbbankv3
MB_API_KEY=
MB_USERNAME=
MB_PASSWORD=
MB_ACCOUNT_NO=
MB_ACCOUNT_NAME=
MB_BANK_ID=MB
POLL_INTERVAL=12
ORDER_EXPIRE_MINUTES=30
ADMIN_TELEGRAM_IDS=
